<div class="table-container">
  <div class="table-header">
    <h2>Lista de Funcionários</h2>
    <button 
      *ngIf="isAdmin"
      mat-raised-button 
      color="primary" 
      (click)="novoFuncionario()">
      <mat-icon>add</mat-icon>
      Novo Funcionário
    </button>
  </div>
  
  <div class="table-responsive">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let element">{{ element.nome }}</td>
      </ng-container>

      <ng-container matColumnDef="cpf">
        <th mat-header-cell *matHeaderCellDef>CPF</th>
        <td mat-cell *matCellDef="let element">{{ element.cpf }}</td>
      </ng-container>

      <ng-container matColumnDef="cargo">
        <th mat-header-cell *matHeaderCellDef>Cargo</th>
        <td mat-cell *matCellDef="let element">{{ element.cargo_atual }}</td>
      </ng-container>

      <ng-container matColumnDef="salario">
        <th mat-header-cell *matHeaderCellDef>Salário</th>
        <td mat-cell *matCellDef="let element">R$ {{ element.salario_atual | number:'1.2-2' }}</td>
      </ng-container>

      <ng-container matColumnDef="vt">
        <th mat-header-cell *matHeaderCellDef>VT</th>
        <td mat-cell *matCellDef="let element">{{ element.opcaoVT ? 'Sim' : 'Não' }}</td>
      </ng-container>

      <ng-container *ngIf="isAdmin" matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="editarFuncionario(element)" title="Editar">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <div *ngIf="dataSource.length === 0" class="no-data">
    <p>Nenhum funcionário cadastrado.</p>
  </div>
</div>