<mat-drawer-container class="example-container" autosize>
   <div class="header-container">
    <div class="icon-group">
      <button type="button" mat-button (click)="drawer.toggle()" class="menu-button">
        <img src="../assets/menu-alt2-svgrepo-com.svg" alt="Menu" width="24" height="24">
      </button>
      <mat-icon fontIcon="home" (click)="irMenu()" class="custom-home"></mat-icon>
    </div>
  </div>

  <mat-drawer #drawer class="example-sidenav" mode="side">
  <div class="drawer-content">
    <!-- Seção do Perfil -->
    <div class="profile-section">
      <button mat-button [matMenuTriggerFor]="profileMenu" class="profile-button">
        <mat-icon>account_circle</mat-icon>
        <span>Perfil</span>
      </button>
      <mat-menu #profileMenu="matMenu">
        <button mat-menu-item disabled>
          <mat-icon>person</mat-icon>
          <span>Usuário: {{ userName }}</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>

    <div class="main-menu">
      <button mat-raised-button (click)="cadastroFuncionario()" class="menu-button">
        <mat-icon>person_add</mat-icon>
        <span>Cadastro de Funcionário</span>
      </button>

      <button mat-raised-button (click)="atualizarFuncionario()" class="menu-button">
        <mat-icon>edit</mat-icon>
        <span>Atualizar Cadastro</span>
      </button>

      <button mat-raised-button (click)="listaFuncionarios()" class="menu-button">
        <mat-icon>list_alt</mat-icon>
        <span>Lista de Funcionários</span>
      </button>

      <button mat-raised-button (click)="configuracoes()" class="menu-button">
        <mat-icon>settings</mat-icon>
        <span>Configurações</span>
      </button>
    </div>
  </div>
</mat-drawer>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>