<mat-drawer-container class="example-container" autosize> 
  <mat-icon fontIcon="home" (click)="irMenu()" class="custom-home"></mat-icon>

  <mat-drawer #drawer class="example-sidenav" mode="side">

    <button mat-button [matMenuTriggerFor]="profileMenu">Profile</button>
    <mat-menu #profileMenu="matMenu">
      <button mat-menu-item disabled>Usuário: {{ userName }}</button>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>

     <div class="example-button-row button-custom">
    <button mat-raised-button (click)="cadastroFuncionario()">Cadastro de
      Funcionário</button> <br>
    <button mat-raised-button (click)="atualizarFuncionario()">Atualizar
      Cadastro</button> <br>
    <button mat-raised-button (click)="listaFuncionarios()">Lista de
      Funcionários</button> <br>
    <button mat-raised-button (click)="configuracoes()">Configurações</button>
  </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      <span class="svg-icon">
        <img src="../assets/menu-alt2-svgrepo-com.svg" alt="Abrir Menu" width="24" height="24" />
      </span>
    </button>
  </div>
  <router-outlet></router-outlet>
</mat-drawer-container>






