.example-container {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 5%;
  align-items: top;
  justify-content: left;
  margin: 10px;
}

.example-sidenav {
  padding: 20px;
}

.button-custom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

.custom-home {
  margin: 10px;
}